<div class="col-md-3">
    <table class="table text-center">
      <thead>
        <tr>
          <th>ジャンル検索</th>
        </tr>
      </thead>

      <% genres.each do |genre| %>
      <tbody>
        <tr>
        <td>
          <%= link_to surch_path(genre.id), method: :get do %>
            <%= genre.name %><br>
          <% end %>
        </td>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>